.menu
{
   font-size: 14px;
   list-style: none;
   background-color: #fff;
   padding: 5px 0 5px 0;
   width: 150px;
   height: auto;
   margin: 0;
   position: absolute;
   box-shadow: 0 0 20px 0 #ccc;
   opacity: 1;
   transition: opacity 0.5s linear;
// 
}